:root {  
    --text-primary-light: black;
    --text-primary-dark: white;
  
    --text-secondary-light: rgb(70, 70, 70);
    --text-secondary-dark: rgb(160, 160, 160);
  
    --bg-primary-light: #8827b0;
    --bg-primary-dark: #57cadc;
  
    --bg-secondary-light: #5727b03b;
    --bg-secondary-dark: #262760;
  
    --bg-navbar-light: #5727b0;
    --bg-navbar-dark: rgb(104, 104, 255);

    --bg-purple-light: #5727b021;
}
